.container-box { 
display: flex;
padding: 20px;
align-items: center;
justify-content: center;
}

.mainbox {
  flex: 1;
}

.box1 {
  
}

.box2 {
  
}

.box3 {
  
}

/* .container-box div {
  background-color: #EAD2AC;
  border: 1px #4281A4 solid;
  padding: 10px;
  
} */

.container-box h3 {
  color: #4281A4;
}

@media screen and (max-width: 640px){
  .container-box {
      display: grid;
  }    
}

